{% extends 'global_temps/base.html' %}
{% block title %}State Machine Workshop{% endblock %}
{% block content %}
    <h2>States Table</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Routines</th>
                <th>Transitions</th>
            </tr>
        </thead>
    </table>

    <h2>Transitions Table</h2>

    <table class="table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Routines</th>
                <th>Transitions</th>
            </tr>
        </thead>
    </table>

    <h2>Routines Table</h2>

    <table class="table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Routines</th>
                <th>Transitions</th>
            </tr>
        </thead>
    </table>
{% endblock %}